{% load static %}
<footer id="footer_desktop">
    <div class="w3-bar container" style="height: 160px; ">
        <div class="vertical-center center">

          <div class="first_div">
            <img class="local_img" src="{% static 'img/local.webp' %}">
            <a href="https://www.lncc.br/"><p class="local_text">LNCC - Av. Getulio Vargas, 333 - Quitandinha, Petrópolis - RJ</p></a>
          </div>

          <div class="middle_div">
            <div class="center">
              <img class="white_quipo" src="{% static 'img/logo-branca.webp' %}">
            </div>

            <div class="center">
              <p class="social">
                <img class="linkedin" src="{% static 'img/linkedin.webp' %}">
                <img class="instagram" src="{% static 'img/instagram.webp' %}">
              </p>
              <p class="apps">
                <img class="appstore" src="{% static 'img/app-store.webp' %}">
                <img class="playstore" src="{% static 'img/play-store.webp' %}">
              </p>
            </div>
          </div>

          <div class="last_div">
            <img class="email" src="{% static 'img/email.png' %}">
            <a href="mailto:quipo@quipo.io"> <p class="email_text">quipo@quipo.io</p> </a>
          </div>
        </div>
    </div>
</footer>

<footer id="footer_mobile" style="display:none;">
    <div style="text-align: center; padding: 10px 0;"><img class="white_quipo" src="{% static 'img/logo-branca.webp' %}"></div>

    <div style="color: white; text-align: center; padding: 10px 0;">
         <img class="local_img" src="{% static 'img/local.webp' %}">
            <a href="https://www.lncc.br/"><p class="local_text">LNCC - Av. Getulio Vargas, 333 - Quitandinha, Petrópolis - RJ</p></a>
    </div>

    <div style="color: white; text-align: center; padding: 10px 0;">
        <img class="email" src="{% static 'img/email.png' %}">
        <a href="mailto:quipo@quipo.io" style="text-decoration: none;"> <p class="email_text">quipo@quipo.io</p> </a>
    </div>

    <div style="text-align: center; padding: 10px 0;">

        <img class="linkedin" src="{% static 'img/linkedin.webp' %}">
        <img class="instagram" src="{% static 'img/instagram.webp' %}">

        <img class="appstore" src="{% static 'img/app-store.webp' %}">
        <img class="playstore" src="{% static 'img/play-store.webp' %}">

    </div>


</footer>