{% load static %}
{% load i18n %}

<header id="head" >
    <div class="w3-hide-small" id="div_head" style="height: 85px; z-index: 1;">
        <div class="vertical-center center">


        <a href="https://www.quipo.io/" target="_blank" class="w3-bar-item w3-button w3-mobile"><img class="quipo_img" src="{% static 'img/logocolorida.webp' %}"></a>
        <a href="https://www.quipo.io/" target="_blank" class="w3-bar-item w3-button w3-mobile ">{% trans "Início"%}</a>

         <div class="vertical"></div>

         <div class="w3-dropdown-hover w3-mobile" >
              <a href="https://www.quipo.io/institucional" target="_blank"> <button class="w3-button">{% trans "Institucional"%}<i class="fa fa-caret-down"></i></button> </a>
              <div class="w3-dropdown-content w3-bar-block" style="background-color: transparent;">
                <a href="https://www.quipo.io/institucional" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu" style="padding: 5px 33px;">{% trans "Sobre"%}</a>
                <a href="https://www.quipo.io/institucional#comp-k7j7fbg4" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu" style="padding: 5px 33px;">{% trans "Equipe"%}</a>
              </div>
          </div>

            <div class="vertical"></div>

        <a href="https://www.quipo.io/eventos" target="_blank" class="w3-bar-item w3-button w3-mobile">{% trans "Eventos"%}</a>

            <div class="vertical"></div>

        <div class="w3-dropdown-hover w3-mobile">
            <a href="#"> <button class="w3-button" target="_blank">{% trans "Serviços"%}<i class="fa fa-caret-down"></i></button> </a>
          <div class="w3-dropdown-content w3-bar-block " style="background-color: transparent;">
            <a href="https://www.quipo.io/quipoagro" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu">QuipoAgro</a>
            <a href="https://www.quipo.io/quipofashion" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu">QuipoFashion</a>
            <a href="https://www.quipo.io/quipoart" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu">QuipoArt</a>
            <a href="https://www.quipo.io/quiposign" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu">QuipoSign</a>
          </div>
        </div>

            <div class="vertical"></div>

        <div class="w3-dropdown-hover w3-mobile">
          <a href="https://www.quipo.io/projetos" target="_blank"> <button class="w3-button">{% trans "Projetos"%}<i class="fa fa-caret-down"></i></button></a>
          <div class="w3-dropdown-content w3-bar-block " style="background-color: transparent;">
            <a href="https://www.quipo.io/simian-covid-19" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu"> <nobr> SimIAn - Covid-19 </nobr> </a>
            <a href="https://www.quipo.io/para-todos" target="_blank" class="w3-bar-item w3-button w3-mobile color_menu">{% trans "Para Todos"%}</a>

          </div>
        </div>

            <div class="vertical"></div>

        <a href="https://www.quipo.io/contato" target="_blank" class="w3-bar-item w3-button w3-mobile">{% trans "Contato"%}</a>

            <div class="vertical"></div>

        <a href="https://www.quipo.io/blog" target="_blank" class="w3-bar-item w3-button w3-mobile">{% trans "Notícias"%}</a>


        <a href="{% url 'set-language' 'pt-br' %}"  class="w3-bar-item w3-button w3-mobile"><img src="{% static 'img/BRA.png' %}"></a>
        <a href="{% url 'set-language' 'en' %}"  class="w3-bar-item w3-button w3-mobile"><img src="{% static 'img/USA.png' %}"></a>
        <a href="http://www.linkedin.com/company/quipo-io" target="_blank" class="w3-bar-item w3-button w3-mobile"><img src="{% static 'img/linkedin.webp' %}"></a>
        <a href="https://www.instagram.com/QuipoTech/" target="_blank" class="w3-bar-item w3-button w3-mobile"><img src="{% static 'img/logoinstagram.webp' %}"></a>



        </div>
    </div>

    <div class="w3-hide-large" id="mobile" style="height: 85px;">
        <div class="vertical-center" style="text-align: right!important;">
            <span style="padding-right: 20%;">
                <a href="{% url 'set-language' 'pt-br' %}" class="" style="padding-right: 5%;"><img src="{% static 'img/BRA.png' %}"></a>
                <a href="{% url 'set-language' 'en' %}" class="" ><img src="{% static 'img/USA.png' %}"></a>
            </span>
            <span>
                <button class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
            </span>
        </div>
    </div>

</header>


    <div class="w3-sidebar w3-bar-block w3-card mySidebar" style="width:200px; display: none; text-align:center;" id="mySidebar">
        <button class="w3-bar-item w3-button" onclick="w3_close()" style="font-size: 50px; color: black;">&times;</button>

        <a href="https://www.quipo.io/" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center;">{% trans "Início"%}</a>


          <button class="w3-button" onclick="inst_click()" style="text-align: center;">{% trans "Institucional"%}</button>
          <div id="inst" style="display:none;">
            <a href="https://www.quipo.io/institucional" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">{% trans "Sobre"%}</a>
            <a href="https://www.quipo.io/institucional#comp-k7j7fbg4" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">{% trans "Equipe"%}</a>
          </div>


        <a href="https://www.quipo.io/eventos" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center;">{% trans "Eventos"%}</a>


          <button class="w3-button" onclick="services_click()">{% trans "Serviços"%}</button><br>
          <div id="services" style="display:none;">
            <a href="https://www.quipo.io/quipoagro" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">QuipoAgro</a>
            <a href="https://www.quipo.io/quipofashion" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">QuipoFashion</a>
            <a href="https://www.quipo.io/quipoart" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">QuipoArt</a>
            <a href="https://www.quipo.io/quiposign" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center; color: grey;">QuipoSign</a>
          </div>



          <button class="w3-button" onclick="project_click()" style="text-align: center;">{% trans "Projetos"%}</button>

        <div id="projects" style="display:none;">
            <a href="https://www.quipo.io/simian-covid-19" target="_blank" class="w3-bar-item w3-button " style="text-align: center; color: grey;">SimIAn - Covid-19</a>
            <a href="https://www.quipo.io/para-todos" target="_blank" class="w3-bar-item w3-button " style="text-align: center; color: grey;">{% trans "Para Todos"%}</a>
        </div>



        <a href="https://www.quipo.io/contato" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center;">{% trans "Contato"%}</a>

        <a href="https://www.quipo.io/blog" target="_blank" class="w3-bar-item w3-button w3-mobile" style="text-align: center;">{% trans "Notícias"%}</a>

        <div style="margin-top: 25px;">
            <a href="{% url 'set-language' 'pt-br' %}"   class="w3-bar-item w3-button w3-mobile" style="text-align: center; display:inline;"><img src="{% static 'img/BRA.png' %}"></a>
            <a href="{% url 'set-language' 'en' %}"  class="w3-bar-item w3-button w3-mobile" style="text-align: center; display:inline;"><img src="{% static 'img/USA.png' %}"></a>
        </div>
    </div>


