{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div  style="text-align:center"><br><br>
    {% if hash %}
        <p>
          O hash do arquivo fornecido já encontra-se em nossos sistemas. <br><br>

            {{hash}}<br><br>

            <br>

        <a href="{% url 'visualizar' hash=hash %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F; color: white; display: inline-block; text-align: center; line-height: normal;">{% trans 'Visualizar arquivo' %}</a>
            {% if payment_at %}
                {{hash}}
            </p>
        <p>
          <b>Descrição:</b> <br>{{description}}
        </p>
          {% if bchain_link %}

            <p>
              Data e hora do registro em blockchain: {{transaction_at}}
            </p>
            <p>
              <!--<a href="{{e_certificate_url}}" target="_blank">Visualizar e-certificado</a>-->
            </p>
        <br><br>
        <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a><br><br>
          {% else %}

            <br><br>

            <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a><br><br>
         {% endif %}
        {%else%}
          <div class="product">
        {% comment %} <img
          src="https://i.imgur.com/EHyR2nP.png"
          alt="The cover of Stubborn Attachments"
        /> {% endcomment %}
        <div class="description">
        </div>
      </div>
      <hr />

            <br><br>

              <div class="container" style="z-index: 0;">
                <div class="center button__rdoc">
                    <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
                </div>
              </div>
        {% endif %}
    {% else %}
        <p>
            Hash não encontrado em nossos sistemas.
        </p>
        <br><br>

              <div class="container" style="z-index: 0;">
                <div class="center button__rdoc">
                    <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
                </div>
              </div>
   {% endif %}
</div>

    {% csrf_token %}
{% if hash %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'hashes:create-checkout-session' hash_id %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });

    // Disable the button until we have Stripe set up on the page
    //document.querySelector("button").disabled = true;

    var elements = stripe.elements();
    var style = {
      base: {
        color: "#32325d",
        fontFamily: 'Arial, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#32325d"
        }
      },
      invalid: {
        fontFamily: 'Arial, sans-serif',
        color: "#fa755a",
        iconColor: "#fa755a"
      }
    };
    var card = elements.create("card", { style: style });
    // Stripe injects an iframe into the DOM
    card.mount("#card-element");
    card.on("change", function (event) {
      // Disable the Pay button if there are no card details in the Element
      document.querySelector("button").disabled = event.empty;
      document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
    });
    var form = document.getElementById("payment-form");
    form.addEventListener("submit", function(event) {
      event.preventDefault();
      // Complete payment when the submit button is clicked
      fetch("/hashes/create-payment-intent/" + hash_id + "/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          email: document.getElementById('email').value
        })
      })
        .then(function(result) {
          return result.json();
        })
        .then(function(data) {
          payWithCard(stripe, card, data.clientSecret);
        });
    });

    // Calls stripe.confirmCardPayment
    // If the card requires authentication Stripe shows a pop-up modal to
    // prompt the user to enter authentication details without leaving your page.
    var payWithCard = function(stripe, card, clientSecret) {
      loading(true);
      stripe
        .confirmCardPayment(clientSecret, {
          payment_method: {
            card: card
          }
        })
        .then(function(result) {
          if (result.error) {
            // Show error to your customer
            showError(result.error.message);
          } else {
            // The payment succeeded!
            orderComplete(result.paymentIntent.id);
          }
        });
    };
    /* ------- UI helpers ------- */
    // Shows a success message when the payment is complete
    var orderComplete = function(paymentIntentId) {
      loading(false);
      document
        .querySelector(".result-message a")
        .setAttribute(
          "href",
          "https://dashboard.stripe.com/test/payments/" + paymentIntentId
        );
      document.querySelector(".result-message").classList.remove("hidden");
      document.querySelector("button").disabled = true;
    };
    // Show the customer the error from Stripe if their card fails to charge
    var showError = function(errorMsgText) {
      loading(false);
      var errorMsg = document.querySelector("#card-error");
      errorMsg.textContent = errorMsgText;
      setTimeout(function() {
        errorMsg.textContent = "";
      }, 4000);
    };
    // Show a spinner on payment submission
    var loading = function(isLoading) {
      if (isLoading) {
        // Disable the button and show a spinner
        document.querySelector("button").disabled = true;
        document.querySelector("#spinner").classList.remove("hidden");
        document.querySelector("#button-text").classList.add("hidden");
      } else {
        document.querySelector("button").disabled = false;
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
      }
    };

  </script>
{% endif %}
{% endblock body %}

