{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block query %}
      <div class="center button__rdoc">
         <img src="{% static 'img/logo.png' %}" height="200px">
      </div>

      <div class="center button__rdoc">
        <a href="{% url 'upload' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F;">{% trans 'Registrar Documento'%}</a>
      </div>
    <div class="container ">
<div class="center button__rdoc">
        <button id="button_doc" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F;">{% trans 'Verificar por Documento'%}</button>
        <button id="button_hash" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__hash" style="width: 40%; background-color: white;">{% trans 'Verificar Hash'%}</button>
      </div>

    </div>

        <div class="container verif_doc" id="verif_doc">
          <div class="center">
          <div class="upload box" style="text-align: center; padding-top: 20px;">
            <form action="{{target}}" method="post" enctype="multipart/form-data" class="">
              {% csrf_token %}

                <div id="__drop" class="drop-zone center" style="margin-left: 15%;">
                  <span class="drop-zone__prompt" id="file_name">{% trans 'Arraste o arquivo para cá ou clique para verificar +'%}</span>
                  <input type="file" name="uploaded_file" class="drop-zone__input" style="color: black;" id="input_file" required>
                </div>

                <p style="padding-top: 10px">
                  <button type="submit" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F; color: white;">{% trans 'Enviar'%}</button>
                </p>

            </form>
          </div>
          </div>
        </div>

     <div class="container verif_hash" id="verif_hash">
      <div class="center">
      <div class="upload box" style="text-align: center; padding-top: 40px; padding-bottom: 30px;">
        <form action="{{target}}" method="post" enctype="multipart/form-data" class="">
          {% csrf_token %}

          <input maxlength="64" class="text_hash" name="hash" type="text" placeholder="{% trans 'Insira o hash do registro feito'%}" required>

            <p style="padding-top: 10px">
              <button type="submit" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F; color: white;">{% trans 'Enviar'%}</button>

        </form>
      </div>
      </div>
    </div></p><br><br><br><br><br><br>
    </div>

{% endblock query %}

