{% load static %}
{% load static %}
{% load i18n %}
<script src="{% static 'js/drag_drop_file.js' %}"></script>
  <script>
    var doc = document.getElementById("button_doc");
    var hash = document.getElementById("button_hash");


    doc.onclick = function(){

        document.getElementById("verif_doc").style.display = "block";
        document.getElementById("verif_hash").style.display = "none";

    }

    hash.onclick = function(){

        document.getElementById("verif_doc").style.display = "none";
        document.getElementById("verif_hash").style.display = "block";

    }

    if (screen.width < 600){
         document.getElementById("button_doc").innerHTML = "Verificar Doc.";
         document.getElementById("drop").style.fontSize = "12px";
         document.getElementById("__drop").style.fontSize = "12px";


    } else {
        document.getElementById("button_doc").innerHTML = "{% trans 'Verificar Documento'%}";
        document.getElementById("drop").style.fontSize = "15px";
        document.getElementById("__drop").style.fontSize = "15px";
    }

    window.addEventListener('resize', function() {
        if (screen.width < 600){
         document.getElementById("button_doc").innerHTML = "Verificar Doc.";
         document.getElementById("drop").style.fontSize = "12px";
         document.getElementById("__drop").style.fontSize = "12px";

        } else {
            document.getElementById("button_doc").innerHTML = "{% trans 'Verificar Documento'%}";
            document.getElementById("drop").style.fontSize = "15px";
            document.getElementById("__drop").style.fontSize = "15px";
        }
    }, true);

    function w3_open() {
      document.getElementById("mySidebar").style.width = "100%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("head").style.display = "none";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("head").style.display = "block";
    }

    function project_click() {
        if (document.getElementById("projects").style.display == "none"){
            document.getElementById("projects").style.display = "block";
        } else {
            document.getElementById("projects").style.display = "none";
        }
    }

     function services_click() {
        if (document.getElementById("services").style.display == "none"){
            document.getElementById("services").style.display = "block";
        } else {
            document.getElementById("services").style.display = "none";
        }
    }

     function inst_click() {
        if (document.getElementById("inst").style.display == "none"){
            document.getElementById("inst").style.display = "block";
        } else {
            document.getElementById("inst").style.display = "none";
        }
    }

    function menu(){
        if (screen.width < 850){
             document.getElementById("mobile").style.display = "block";
             document.getElementById("div_head").style.display = "none";


        } else {
            document.getElementById("mobile").style.display = "none";
            document.getElementById("div_head").style.display = "block";
        }
    }

    menu();

    window.addEventListener('resize', function() {
        if (screen.width < 850){
             document.getElementById("mobile").style.display = "block";
             document.getElementById("div_head").style.display = "none";

        } else {
            document.getElementById("mobile").style.display = "none";
            document.getElementById("div_head").style.display = "block";
        }
    }, true);

     if (screen.width < 600){
         document.getElementById("footer_mobile").style.display = "block";
         document.getElementById("footer_desktop").style.display = "none";
    } else {
        document.getElementById("footer_mobile").style.display = "none";
        document.getElementById("footer_desktop").style.display = "block";
    }

     window.addEventListener('resize', function() {
        if (screen.width < 600){
             document.getElementById("footer_mobile").style.display = "block";
             document.getElementById("footer_desktop").style.display = "none";
        } else {
            document.getElementById("footer_mobile").style.display = "none";
            document.getElementById("footer_desktop").style.display = "block";
        }
    }, true);
        </script>