{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}
<div  style="text-align:center"><br><br>
    {% if hash %}
        <p>
          O hash do arquivo fornecido já encontra-se em nossos sistemas. <br><br>

            {{hash.hash}}<br><br>


            {% if aprovado == False %}
            <img src="{{ hash.Picture_noise.url }}" alt="Avatar"  align="center" style="width: 500px; height: 500px;">
            {% else %}
            <img src="{{ hash.Picture.url }}" alt="Avatar"  align="center" style="width: 500px; height: 500px;">
            {%endif%}

            <br>
            <form enctype="multipart/form-data" method="POST">
               {% csrf_token %}
            <p>Digite a senha para visualizar o arquivo</p>
            <label><b>{% trans 'Senha'%}</b></label><br>
            <input type="password" name="senha" required><br><br>
            <button type="submit" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F; color: white;">{% trans 'Visualizar'%}</button>
            {% if payment_at %}
                {{hash}}
            </p>
        </form>
        <p>
          <b>Descrição:</b> <br>{{description}}
        </p>
          {% if bchain_link %}

            <p>
              Data e hora do registro em blockchain: {{transaction_at}}
            </p>
            <p>
              <!--<a href="{{e_certificate_url}}" target="_blank">Visualizar e-certificado</a>-->
            </p>
        <br><br>
        <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a><br><br>
          {% else %}

            <br><br>

            <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a><br><br>
         {% endif %}
        {%else%}
          <div class="product">
        {% comment %} <img
          src="https://i.imgur.com/EHyR2nP.png"
          alt="The cover of Stubborn Attachments"
        /> {% endcomment %}
        <div class="description">
        </div>
      </div>
      <hr />

            <br><br>

              <div class="container" style="z-index: 0;">
                <div class="center button__rdoc">
                    <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
                </div>
              </div>
        {% endif %}
    {% else %}
        <p>
            Hash não encontrado em nossos sistemas.
        </p>
        <br><br>

              <div class="container" style="z-index: 0;">
                <div class="center button__rdoc">
                    <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
                </div>
              </div>
   {% endif %}
</div>

    {% csrf_token %}
{% if hash %}

{% endif %}
{% endblock body %}

