{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block body %}

<div  style="text-align:center"><br><br>
    <p>
      <b>Pagamento efetuado com sucesso.</b> <br><br>
      {% if payment_at %}
            {{hash}}
        </p>
        <p>
          <b>Descrição:</b> <br><br>{{description}}
        </p>
      {% endif %}

  <div class="container" style="z-index: 0;">
    <div class="center button__rdoc">
        <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
    </div>
  </div>

{% endblock body %}