{% extends "base.html" %}
{% load static %}
{% load i18n  %}

{% block upload %}

<div class="upload box" style="text-align: center; padding-bottom: 50px; margin-left: 10%">
<br>

    <div class="center button__rdoc">
         <img src="{% static 'img/logo.png' %}" height="200px">
      </div>

    <div >
        <a href="{% url 'query' %}" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 80%; background-color: #001F5F; color: #fff">{% trans "Voltar"%}</a>
    </div>


  <form action="{{target}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br><br>
    <div >
      <label><b>{% trans 'Senha'%}</b></label><br><br>
      <input name="file_description" type="password"  required><br><br>


    <label><b>Nível de sigilo:</b></label><br>
    <input type="radio" id="forte" name="sigilo" value="1">
    <label for="forte">Forte</label><br>
    <input type="radio" id="fraca" name="sigilo" value="0">
    <label for="fraca">Fraca</label><br>

    <br><br>
    <div >
      <div id=drop class="drop-zone" style="margin-left:15%">
        <span class="drop-zone__prompt" id="file_name">{% trans 'Arraste o arquivo para cá ou clique para verificar +'%}</span>
        <input type="file" name="uploaded_file" class="drop-zone__input" style="color: black;" id="input_file" required>
      </div>
    </div>

    <div >
      <p style="padding-top: 10px">
        <button type="submit" class="w3-button w3-round-xxlarge w3-large w3-padding-large button__doc" style="width: 40%; background-color: #001F5F; color: white;">{% trans 'Enviar'%}</button>
      </p>
    </div>
  </form><br><br><br><br><br><br><br>
</div>
</div>
{% endblock upload %}