@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

button[type=submit]{
    font-weight: bold;
}

header {
    background-color: rgba(0,0,0,0.3);
    color: white;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body{
    z-index: -1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

footer{
    position: relative;
     background-color: rgba(255,255,255,0.3);

}

.drop-zone {
  max-width: 70%;
  max-height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: grey;
  border: 2px solid grey;
  background-color: white;
}

.drop-zone:hover{
    background-color: grey;
    color: white;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -4;
}

.vertical{
    height: 40px;
    width:1px;
    background-color: white;
}

.rounder{
    background-color: white;

    border-radius:250px;
}

.container {
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button__rdoc {
   color: white;
   padding-top: 80px;
   padding-bottom: 50px;
}

.button__doc{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 15px;
}


.button__doc:hover{
    text-decoration: underline;
    background-color: white!important;
    color: #001F5F!important;
}

.button__hash {
    color: #001F5F;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.button__hash:hover {
    text-decoration: underline;
}

.word {
    overflow-wrap: break-word;
    word-break: break-word;
}

.upload {
    width: 80%;
     border-radius: 20px;

}

.text_hash{
    width: 80%;
    height: 50px;
    padding: 10px;
}

.verif_doc {
    display: block;

}

.verif_hash{
    display: none;

}

.background {
    background-color: rgba(250, 250, 250,1);
    padding-bottom: 50px;
}

.box {
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.local_text, .email_text{
    display: inline;

}

.first_div, .middle_div, .last_div {
    width: 33%;
    display: inline;
    position: relative;
    color: white;
}

.first_div{
    padding-left: 10%;
}

.social{
    margin-right: 10px;
}

.apps{
    margin-left: 5px;
}

.email{
    margin-right: 5px;
}

.mySidebar{
    display: none;
}

.color_menu{
    background-color: rgba(0,0,0,0.65);
    color: white;
}



