{% load static %} <!-- this is to make Django to find the 'assets' folder (it is going to be the root folder for assets)-->
<!DOCTYPE html>
<html>
  <head>
    <title>Quipo Tech - Blockchain Solutions</title>
    <meta name="description" content="Welcome to Quipo Tech Blockchain Solutions"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>


    <style>
    /* Center the editable textarea */
    .editable-textarea {
        width: 60%; /* Adjust width as needed */
        height: 100px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 5px;
        outline: none;
        overflow-y: auto;
    }



</style>

  <body id="body">

    <div class="background">

      {% block body %} <!-- To insert specific body in the child templates -->


      {% endblock body %}

      {% block query %} <!-- To insert specific body in the child templates -->


      {% endblock query %}

      {% block upload %} <!-- To insert specific body in the child templates -->


      {% endblock upload %}


      {% block scripts %}

          {% include 'hashes/scripts.html' %}

      {% endblock scripts %}
    </div>

  </body>
</html>
